.presentation-picture{
    background-image: url(../../img/fjerdingenBlack.png);
    padding:0;
    margin: 0;
    background-size:cover;
    height:400px;
    margin-top:0px;
}

.presentation-picture .school-icon{
    padding-top:90px;
    font-size:50px;
}

.presentation-picture .introduction-title{
    text-transform: uppercase;
    padding-top:20px;
    font-family: 'SanFranciscoCompactSemiBold';
    font-size:30px;
}

.presentation-picture .description-label{
    padding-bottom:10px;
}

.presentation-picture-vulkan{
    background-image: url(../../img/vulkanBlack.png);
    padding:0;
    margin: 0;
    background-size:cover;
    height:400px;
    margin-top:0px;
}

.presentation-picture-vulkan .school-icon{
    padding-top:90px;
    font-size:50px;
}

.presentation-picture-vulkan .introduction-title{
    text-transform: uppercase;
    padding-top:20px;
    font-family: 'SanFranciscoCompactSemiBold';
    font-size:30px;
}

.presentation-picture-vulkan .description-label{
    padding-bottom:10px;
}

.presentation-picture-brenneriveien{
    background-image: url(../../img/brenneriveienBlack.png);
    padding:0;
    margin: 0;
    background-size:cover;
    height:400px;
    margin-top:0px;
}

.presentation-picture-brenneriveien .school-icon{
    padding-top:90px;
    font-size:50px;
}

.presentation-picture-brenneriveien .introduction-title{
    text-transform: uppercase;
    padding-top:20px;
    font-family: 'SanFranciscoCompactSemiBold';
    font-size:30px;
}

.presentation-picture-brenneriveien .description-label{
    padding-bottom:10px;
}

.presentation-picture-kvadraturen{
    background-image: url(../../img/kvadraturenBlack.png);
    padding:0;
    margin: 0;
    background-size:cover;
    height:400px;
    margin-top:0px;
}

.presentation-picture-kvadraturen .school-icon{
    padding-top:90px;
    font-size:50px;
}

.presentation-picture-kvadraturen .introduction-title{
    text-transform: uppercase;
    padding-top:20px;
    font-family: 'SanFranciscoCompactSemiBold';
    font-size:30px;
}

.presentation-picture-kvadraturen .description-label{
    padding-bottom:10px;
}
