.campus-section {
  margin: 20px 0;
}
.campus-section .campus-title {
  font-size:26px;
  text-transform: uppercase;
  font-family: 'SanFranciscoCompactRegular';
  padding-left:70px;
  padding-right:70px;
  padding-top:30px;
  padding-bottom:30px;
}

a:hover {
  text-decoration: none;
}

.campus-section .container .row .school-box-fjerdingen, .school-box-brenneriveien, .school-box-kvadraturen, .school-box-vulkan{
    cursor: pointer;
}

.campus-section .container .row .school-box-fjerdingen .background{
    background-image: url(../../img/fjerdingenBlack.png);
    padding:0;
    margin: 0;
    background-size:cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    min-height:200px !important;
    margin-top:0px;
}

.campus-section .container .row .school-box-fjerdingen .school-title{
    font-family: 'SanFranciscoCompactSemiBold';
    font-size:28px;
    padding-top:45px;
}


.campus-section .container .row .school-box-fjerdingen .school-location{
    font-family: 'SanFranciscoCompactLight';
    font-size:20px;
    text-transform: uppercase;
}

.campus-section .container .row .school-box-fjerdingen .school-opening{
    text-transform: uppercase;
    font-family: 'SanFranciscoCompactRegular';
    font-size:12px;
}

/*------------*/

.campus-section .container .row .school-box-vulkan .background{
    background-image: url(../../img/vulkanBlack.png);
    padding:0;
    margin: 0;
    background-size:cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    min-height:200px !important;
    margin-top:0px;
}

.campus-section .container .row .school-box-vulkan .school-title{
    font-family: 'SanFranciscoCompactSemiBold';
    font-size:28px;
    padding-top:45px;
}


.campus-section .container .row .school-box-vulkan .school-location{
    font-family: 'SanFranciscoCompactLight';
    font-size:20px;
    text-transform: uppercase;
}

.campus-section .container .row .school-box-vulkan .school-opening{
    text-transform: uppercase;
    font-family: 'SanFranciscoCompactRegular';
    font-size:12px;
}

/*------------*/

.campus-section .container .row .school-box-brenneriveien .background{
    background-image: url(../../img/brenneriveienBlack.png);
    padding:0;
    margin: 0;
    background-size:cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    min-height:200px !important;
    margin-top:0px;
}

.campus-section .container .row .school-box-brenneriveien .school-title{
    font-family: 'SanFranciscoCompactSemiBold';
    font-size:28px;
    padding-top:45px;
}


.campus-section .container .row .school-box-brenneriveien .school-location{
    font-family: 'SanFranciscoCompactLight';
    font-size:20px;
    text-transform: uppercase;
}

.campus-section .container .row .school-box-brenneriveien .school-opening{
    text-transform: uppercase;
    font-family: 'SanFranciscoCompactRegular';
    font-size:12px;
}

/*------------*/

.campus-section .container .row .school-box-kvadraturen .background{
    background-image: url(../../img/kvadraturenBlack.png);
    padding:0;
    margin: 0;
    background-size:cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    min-height:200px !important;
    margin-top:0px;
}

.campus-section .container .row .school-box-kvadraturen .school-title{
    font-family: 'SanFranciscoCompactSemiBold';
    font-size:28px;
    padding-top:45px;
}


.campus-section .container .row .school-box-kvadraturen .school-location{
    font-family: 'SanFranciscoCompactLight';
    font-size:20px;
    text-transform: uppercase;
}

.campus-section .container .row .school-box-kvadraturen .school-opening{
    text-transform: uppercase;
    font-family: 'SanFranciscoCompactRegular';
    font-size:12px;
}
